body{
	background-image: url('https://i.pinimg.com/originals/ff/29/85/ff298568e2e096f81772128b40b4009c.png');
	background-repeat: no-repeat;
	min-width: 100%;
	min-height: auto;
	position: fixed;
	background-size: cover;
}

.logo{
	
}