
body{ /*styling for the body-background image only*/
	/*background image added to the body - the image is the Rugrats lving room with white bottom for charater space*/
	background-image: url('http://img3.wikia.nocookie.net/__cb13/rugrats/images/5/50/Wiki-background');
	background-repeat: no-repeat; /*background image not allowed to repeat*/
	height: 150%; /*background height set to 100%*/
	width: 100%;
	background-size: cover; /*background size to fill the full screen*/
}

.tommy{
	/*resized imaged*/
	height: 300px;
	width: 300px;
}

.philLil{
	/*resized image*/
	height: 200px;
	width: 300px;
}

.chuckie{
	/*resized image*/
	height: 400px;
	width: 200px;
}

.angelica{
	/*resized image*/
	height: 400px;
	width: 300px;
}

.suize{
	/*resized image*/
	height: 400px;
	width: 300px;
}

.dil{
	/*resized image*/
	height: 300px;
	width: 300px;
}

.kimi{
	/*resized image*/
	height: 400px;
	width: 300px;
}