
body{ /*styling for the body-background image only*/
	/*background image added to the body - the image is the Rugrats lving room with white bottom for charater space*/
	background-image: url('https://i.pinimg.com/736x/07/5e/1f/075e1fac62a0dd2367a0acd92241b752--rugrats-packaging.jpg');
	background-repeat: no-repeat; /*background image not allowed to repeat*/
	height: 100%; /*background height set to 100%*/
	width: 100%;
	background-size: cover; /*background size to fill the full screen*/
}

.tommy{
	/*resized imaged*/
	height: 150px;
	width: 150px;
	display: inline-block;
	vertical-align: text-bottom;
	float: left;
	clear: right;
	margin: 0 auto;
}

.philLil{
	/*resized image*/
	height: 150px;
	width: 200px;
	display: inline-block;
	vertical-align: text-bottom;
	float: left;
	clear: right;
	margin: 0 auto;
}

.chuckie{
	/*resized image*/
	height: 200px;
	width: 100px;
	display: inline-block;
	vertical-align: text-bottom;
	float: left;
	clear: right;
	margin: 0 auto;
}

.angelica{
	/*resized image*/
	height: 200px;
	width: 150px;
	display: inline-block;
	vertical-align: text-bottom;
	float: right;
	clear: left;
	margin: 0 auto;
}

.suize{
	/*resized image*/
	height: 200px;
	width: 150px;
	display: inline-block;
	vertical-align: text-bottom;
	float:right;
	clear: left;
	margin: 0 auto;
}

.dil{
	/*resized image*/
	height: 150px;
	width: 150px;
	display: inline-block;
	vertical-align: text-bottom;
	float: right;
	clear: left;
	margin: 0 auto;
}


.onePlayer{
	margin: auto;
	padding: 15px 40px 15px 40px;
	font-size: 30px;
	border-radius: 40px;
	background-color: #ffff66;
	box-shadow: 5px 5px 5px #ffffcc;
	border: none;
	font-family: 'Bangers', cursive;
	color: #9370DB;
	float: right;
	position: block;
	margin: 20px;
}

.twoPlayer{
	margin: auto;
	padding: 15px 40px 15px 40px;
	font-size: 30px;
	border-radius: 40px;
	background-color: #ffff66;
	box-shadow: 5px 5px 5px #ffffcc;
	border: none;
	font-family: 'Bangers', cursive;
	color: #9370DB;
	position: relative;
	float: right;
	position: block;
	margin: 20px;
}
