
body{ /*styling for the body-background image only*/
	/*background image added to the body - the image is the Rugrats lving room with white bottom for charater space*/
	background-image: url('http://img3.wikia.nocookie.net/__cb13/rugrats/images/5/50/Wiki-background');
	background-repeat: no-repeat; /*background image not allowed to repeat*/
	height: 150%; /*background height set to 100%*/
	width: 100%;
	background-size: cover; /*background size to fill the full screen*/
}

.tommy{
	/*resized imaged*/
	height: 150px;
	width: 150px;
	display: inline-block;
	vertical-align: text-bottom;
	float: left;
	clear: right;
	margin: 0 auto;
}

.philLil{
	/*resized image*/
	height: 150px;
	width: 200px;
	display: inline-block;
	vertical-align: text-bottom;
	float: left;
	clear: right;
	margin: 0 auto;
}

.chuckie{
	/*resized image*/
	height: 200px;
	width: 100px;
	display: inline-block;
	vertical-align: text-bottom;
	float: left;
	clear: right;
	margin: 0 auto;
}

.angelica{
	/*resized image*/
	height: 200px;
	width: 150px;
	display: inline-block;
	vertical-align: text-bottom;
	float: right;
	clear: left;
	margin: 0 auto;
}

.suize{
	/*resized image*/
	height: 200px;
	width: 150px;
	display: inline-block;
	vertical-align: text-bottom;
	float:right;
	clear: left;
	margin: 0 auto;
}

.dil{
	/*resized image*/
	height: 150px;
	width: 150px;
	display: inline-block;
	vertical-align: text-bottom;
	float: right;
	clear: left;
	margin: 0 auto;
}

/*.kimi{
	height: 200px;
	width: 150px;
	display: inline-block;
	vertical-align: text-bottom;
	float: right;
	clear: left;
	margin: 0 auto;
}*/

.onePlayer{
margin: auto;

}

.twoPlayer{
 margin: auto;
 
}

.vsComp{
margin: auto;

}